$background-gamescreen: rgb(43, 43, 43);
$background-gamepanel: rgb(78, 43, 91);
$menu-color: black;
$game-width: 620px;
$game-height: 480px;
$btn-text-color: yellow;
$btn-text-color-hover: blue;

$block-width: 150px;
$block-height: 150px;

body{
    padding: 50px;
    background-color: #343434;
    font-family: Tahoma, sans-serif;
}


/*Đoạn css block này là animation cho background(động)*/
.block{
    position: fixed;
    left: -200px;
    width: $block-width;
    height: $block-height;
    background: linear-gradient(0deg, rgb(189, 192, 209), rgb(66, 64, 64)) no-repeat;
    animation: bg-animate 3s infinite ease-in-out;
    z-index: -1;
}

.block1, .block4{
    top: 20px;
}
.block2, .block5{
    top: 220px;
}
.block3, .block6{
    top: 420px;
}

.block1{
    animation-delay: 1.5s;
}
.block2{
    animation-delay: 2s;
}
.block3{
    animation-delay: 2.5s;
}
.block4{
    animation-delay: 3s;
}
.block5{
    animation-delay: 3.5s;
}
.block6{
    animation-delay: 4s;
}
/*Kết thúc đoạn*/

.game-wrapper{
    display: flex;
    width: $game-width;
    height: $game-height;
    margin: 0 auto;
    
    &__game-screen{
        position: relative;
        background-color: $background-gamescreen;
        width: 70%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 0;

        &__game-canvas{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: $menu-color;
            z-index: 1;
        }

        &__game-menu{
            position: relative;
            width: 50%;
            padding: 10px;
            border-radius: 10px;
            background-color: $menu-color;
            z-index: 2;
            
            &__title{
                font-size: 50px;
                color: white;
                text-align: center;
                display: flex;
                column-gap: 5px;
                justify-content: center;
            }
            &__options-wrapper{
                display: flex;
                justify-content: center;
            }
            @at-root .game-menu{
                
                &__start-btn{
                    width: 120px;
                    height: 50px;
                }
            }
        }
    }

    .btn{
        border-radius: 15px;
        background-color: $background-gamepanel;
        color: $btn-text-color;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 800;
        &:hover{
            color: $btn-text-color-hover; 
        }
    }
    
    &__game-panel{
        background-color: $background-gamepanel;
        width: 30%;
        height: 100%;
    }
}


.magenta-color{
    color: magenta;
}
.orange-color{
    color: orange;
}
.red-color{
    color: red;
}
.yellow-color{
    color: yellow;
}
.green-color{
    color: lightgreen;
}
.aqua-color{
    color: aqua;
}


@keyframes bg-animate {
    0%{
        transform: translateX(0) rotate(0deg);
    }
    100%{
        transform: translateX(calc(100vw + 200px)) rotate(720deg);
    }
}

