$background-gamescreen: rgb(43, 43, 43);
$background-gamepanel: rgb(78, 43, 91);
$menu-color: black;
$width: 620px;
$height: 480px;

$block-width: 150px;
$block-height: 150px;

body{
    padding: 10px;
    background-color: #343434;
    font-family: Tahoma, sans-serif;
}


/*Đoạn css block này là animation cho background(động)*/
.block{
    position: fixed;
    left: -200px;
    width: $block-width;
    height: $block-height;
    background: linear-gradient(0deg, rgb(189, 192, 209), rgb(66, 64, 64)) no-repeat;
    animation: bg-animate 3s infinite ease-in-out;
    z-index: -1;
}

.block1, .block4{
    top: 20px;
}
.block2, .block5{
    top: 220px;
}
.block3, .block6{
    top: 420px;
}

.block1{
    animation-delay: 1s;
}
.block2{
    animation-delay: 1.5s;
}
.block3{
    animation-delay: 2s;
}
.block4{
    animation-delay: 2.5s;
}
.block5{
    animation-delay: 3s;
}
.block6{
    animation-delay: 3.5s;
}
/*Kết thúc đoạn*/

.game-wrapper{
    display: flex;
    width: $width;
    height: $height;
    margin: 0 auto;
    
    &__game-screen{
        background-color: $background-gamescreen;
        width: 70%;
        height: 100%;
        &__game-menu{
            width: 50%;
            height: 50%;
            border-radius: 10px;
            background-color: $menu-color;
            &__title{
                font-size: 50px;
                color: white;
                text-align: center;
                display: flex;
                column-gap: 5px;
                justify-content: center;
            }
        }
    }
    
    &__game-panel{
        background-color: $background-gamepanel;
        width: 30%;
        height: 100%;
    }
}


.magenta-color{
    color: magenta;
}
.orange-color{
    color: orange;
}
.red-color{
    color: red;
}
.yellow-color{
    color: yellow;
}
.green-color{
    color: lightgreen;
}
.aqua-color{
    color: aqua;
}


@keyframes bg-animate {
    0%{
        transform: translateX(0) rotate(0deg);
    }
    100%{
        transform: translateX(calc(100vw + 200px)) rotate(720deg);
    }
}

