// 21130385_PhamHoangHuy_0774073023_DH21DTB
$background-gamescreen: rgb(43, 43, 43);
$background-gamepanel: rgb(78, 43, 91);
$menu-color: black;
$game-width: 420px;
$game-height: 480px;
$btn-text-color: yellow;
$btn-text-color-hover: blue;

$block-width: 150px;
$block-height: 150px;

body{
    position: relative;
    padding: 5px;
    background-color: #343434;
    font-family: Tahoma, sans-serif;
}


/*Đoạn css block này là animation cho background(động)*/
.block{
    position: fixed;
    left: -200px;
    width: $block-width;
    height: $block-height;
    background: linear-gradient(0deg, rgb(189, 192, 209), rgb(66, 64, 64));
    animation: bg-animate 3s infinite ease-in-out;
    z-index: -1;
}

.block1, .block4{
    top: 20px;
}
.block2, .block5{
    top: 220px;
}
.block3, .block6, .block7{
    top: 420px;
}

.block1{
    background: linear-gradient(0deg, rgb(64, 193, 208), rgb(51, 190, 221));
    animation-delay: 1.5s;
}
.block2{
    background: linear-gradient(0deg, rgb(193, 199, 76), rgb(185, 224, 46));
    animation-delay: 2s;
}
.block3{
    background: linear-gradient(0deg, rgb(227, 49, 49), rgb(158, 47, 47));
    animation-delay: 2.5s;
}
.block4{
    background: linear-gradient(0deg, rgb(53, 73, 228), rgb(18, 42, 139));
    animation-delay: 3s;
}
.block5{
    background: linear-gradient(0deg, rgb(72, 211, 93), rgb(16, 170, 39));
    animation-delay: 3.5s;
}
.block6{
    background: linear-gradient(0deg, rgb(217, 119, 14), rgb(156, 91, 23));
    animation-delay: 4s;
}
.block7{
    background: linear-gradient(0deg, rgb(217, 119, 14), rgb(156, 91, 23));
    animation-delay: 4s;
}

.game-wrapper{
    display: flex;
    width: $game-width;
    height: $game-height;
    margin: 0 auto;
    
    &__game-screen{
        position: relative;
        background-color: $background-gamescreen;
        width: 70%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 0;

        &__game-canvas{
            position: absolute;
            background-color: $menu-color;
            z-index: 1;
        }

        @at-root .gameover-menu{
            color: $btn-text-color;
        }

        &__game-menu{
            position: absolute;
            padding: 10px;
            border-radius: 10px;
            background-color: $menu-color;
            z-index: 2;
            
            &__title{
                font-size: 40px;
                color: white;
                text-align: center;
                display: flex;
                column-gap: 5px;
                justify-content: center;
            }
            &__options-wrapper{
                display: flex;
                justify-content: center;
            }
            @at-root .game-menu{
                
                &__start-btn{
                    width: 120px;
                    height: 50px;
                }
            }
            
            &__highest-score{
                margin-bottom: 10px;
            }
        }
    }


    .btn:focus-visible{
        outline: none;
    }
    .btn{
        border-radius: 15px;
        background-color: $background-gamepanel;
        color: $btn-text-color;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 800;
        &:hover{
            color: $btn-text-color-hover; 
        }
    }
    
    &__game-panel{
        position: relative;
        background-color: $background-gamepanel;
        width: 30%;
        height: 100%;
        &__about-me{
            position: absolute;
            display: block;
            bottom: 0;
            right: 0;
            cursor: pointer;
        }
        &__pause{
            position: absolute;
            display: block;
            bottom: 30px;
            right: 0;
            cursor: pointer
        }
        &__content{
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 25px 5px;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            row-gap: 15px;
        }
        &__score, &__level{
            color: $btn-text-color;
            display: flex;
            flex-direction: row;
            font-size: 20px;
        }
        &__next-brick-screen{
            background-color: $menu-color;
            
        }
    }
}

.about-me{
    &__content{
        position: absolute;
        display: block;
        background-color: #f5f5f5d1;
        padding: 50px;
        &__close{
            display: block;
            margin-left: auto;
            cursor: pointer;
        }
    }
}

.popup-screen{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(68, 68, 68, 0.714);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.magenta-color{
    color: magenta;
}
.orange-color{
    color: orange;
}
.red-color{
    color: red;
}
.yellow-color{
    color: yellow;
}
.green-color{
    color: lightgreen;
}
.aqua-color{
    color: aqua;
}


@keyframes bg-animate {
    0%{
        transform: translateX(0) rotate(0deg);
    }
    100%{
        transform: translateX(calc(100vw + 200px)) rotate(720deg);
    }
}

